html,body{
	height: 100%;
	background-color: #ECEEF1;
}
#body{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-family: "ＭＳ Ｐ明朝";
}

h3,p{
 	margin: 0;
 	padding: 0;
 }

#center{
	text-align: center;
}

#header{
	padding: 0;
	font-family: "Hiragino Kaku Gothic ProN", "游ゴシック", sans-serif;
 	background-color: #27313D;
 	margin-bottom: 20px;
 }

 .photo{
 	width: 60%;
 	display: block;
 	margin: 0 auto;
 }

#main{
	padding: 0;
	width: 100%;
	position: relative;
    height: auto !important;
    padding-bottom: 20px;
}

#footer{
 	float: left;
 	background-color: #27313D;
 	text-align: right;
 	color: white;
 	position: fixed;
    bottom: 0;
    width: 100%;
 }




#top{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	padding: 0;
}


.group,
.box{
	/*border: 1px solid #a3b1b2;*/
	padding: 0;
	margin-bottom: 10px;
	background-color: #F5F5F5;
}
.group-img{
	float: left;
	padding: 0;
}
.group-text{
	float: right;
	padding: 0;
}
.group_title{

}



#date{
	text-align: right;
}

#columns,#data,#news{
	/*margin-top: 20px;*/
	padding: 0;
}
#title{
	text-align: center;
}
.logo{
	border-bottom: 1px solid #a3b1b2;
	padding: 0;
}
.logo_a{
	padding: 0;
}


.readmore{
	/*margin-top: 10px;*/
	padding: 0;
}
.read_title,
.read_image{
	text-align: center;
}
.read_title,
.read_text{
	padding: 0;
}
.edit{
	text-align: right;
}

#c{
	padding: 0;
}
.edit{
	padding: 0;
}
#st_link{
	padding: 0;
}

.line_g{
	border-bottom: 1px solid #7fc7b0;
	margin-bottom: 10px;
	padding: 0;
}
.line_p{
	border-bottom: 1px solid #e8548f;
	margin-bottom: 10px;
	padding: 0;
}
.line_o{
	border-bottom: 1px solid #f2b242;
	margin-bottom: 10px;
	padding: 0;
}



