{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <p>
    <button id="post_btn" type="button" class="btn btn-info"><a href="{{ url_for('new') }}">New Post</a></button>
  </p>
  <table class="table table-striped table-bordered">
    <tr>
      <th class="col-md-2">date</th>
      <th class="col-md-5">title</th>
      <th class="col-md-4">member</th>
      <th class="col-md-1"></th>
    </tr>
    {% for entry in entries %}
    <tr>
      <td>{{ entry.date }}</td>
      <td>{{ entry.title }}</td>
      <td>{{ entry.member|safe }}</td>
      <td>
        <button type="button" class="btn btn-info"><a href="{{ url_for('show_detail', id= entry.id) }}">detail</a></button>
      </td>
    </tr>
    {% endfor %}
  </table>
  {%else%}
  ログインしてください
  {% endif %}
{% endblock %}